# Exploratory Data Analysis for Florida Employee Salary data

In [1]:
import pandas as pd
from pathlib import Path

from utils.format_table import format_table

In [2]:
root = Path.cwd()
archive_path = root / "archive"

## Import data
Eventually we'll have a whole database. For now I just have two consecutive weekly data drops.

In [3]:
for csv_path in archive_path.glob("*.csv"):
    print(csv_path.name)
    print(f"{len(pd.read_csv(csv_path)):,} rows")

fl_salaries_2021-01-18.csv
108,130 rows
fl_salaries_2021-01-25.csv
92,400 rows
fl_salaries_2020-10-12.csv
108,916 rows
fl_salaries_2021-02-01.csv
107,999 rows
fl_salaries_2021-02-08.csv
107,941 rows

## Apply `format_table()` and example a sample of rows
Looks like there is no employee ID column here. Too bad; that would have made things easier. 

Let's assume for now that if we take the first, last, and middle names, plus the date of hire, that's enough to unique identify the same employee across two of these data drops.

The function `format_table()` puts the data into mostly analysis-ready form.

In [8]:
archive_path = Path.cwd() / "archive" / "fl_salaries_2021-01-18.csv"
first_raw = pd.read_csv(archive_path, dtype="object")
_, message, first = format_table(first_raw)

first.info()

cleaning the report
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108130 entries, 0 to 108129
Data columns (total 13 columns):
agency_name        108130 non-null object
budget_entity      108130 non-null object
position_number    108130 non-null object
last_name          108128 non-null object
first_name         108129 non-null object
middle_name        86850 non-null object
is_salaried        108130 non-null bool
is_full_time       108130 non-null bool
class_code         93747 non-null object
class_title        93747 non-null object
state_hire_date    93750 non-null object
salary             93747 non-null Int64
ops_hourly_rate    93747 non-null Int64
dtypes: Int64(2), bool(2), object(9)
memory usage: 9.5+ MB

In [7]:
first[
    [
        "agency_name",
        "budget_entity",
        "position_number",
        "class_code",
        "is_salaried",
        "is_full_time",
    ]
].sample(3, random_state=444)

,agency_name,budget_entity,class_code,is_salaried,is_full_time
16617,DEPARTMENT OF CORRECTIONS,SPECIALTY INST OPERATIONS,08005,True,True
39926,DEPARTMENT OF HEALTH,CTY HLTH LOC HLTH NEED,NaN,False,True
59845,DEPT ENVIRONMENTAL PROTECTION,WASTE MANAGEMENT,04806,True,True

## Add the date of download to each table
Where things get interesting is looking at how salaries and positions change over time. But the input data doesn't come to us with the timestamp of its own publication. That's stored in the filename. We'll want to add that to the data.

In [ ]:
merged = first.merge(
    second[["Last Name", "First Name", "Middle Name", "State Hire Date", "Salary", "Class Title"]],
    how="inner",
    on=["Last Name", "First Name", "Middle Name", "State Hire Date"],
)

## Find all the rows where the salary changed

In [ ]:
cond_1 = merged['Salary_x'] != merged["Salary_y"]
cond_2 = ~merged['Salary_x'].isna()

changed_salaries = merged[cond_1 & cond_2]
print(len(changed_salaries))
changed_salaries.sample(3)

In [9]:
from faker import Faker

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/Users/james/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2963, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-9-6235527da291>", line 1, in <module>
    from faker import Faker
ModuleNotFoundError: No module named 'faker'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/james/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1863, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'ModuleNotFoundError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/james/anaconda3/lib/python3.6/site-packages/IPython/core/ultratb.py", line 1095, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/james/anaconda3/lib/python3.6/site-packages/IPython/core/ultratb.py", line 311, in wrapped
    return f(*args, **kwargs)
  File "/Users/james/anaconda3/lib/python3.6/site-packages/IPython/core/ultratb.py", line 345, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Users/james/anaconda3/lib/python3.6/inspect.py", line 1490, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Users/james/anaconda3/lib/python3.6/inspect.py", line 1448, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Users/james/anaconda3/lib/python3.6/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/Users/james/anaconda3/lib/python3.6/inspect.py", line 733, in getmodule
    if ismodule(module) and hasattr(module, '__file__'):
  File "/Users/james/anaconda3/lib/python3.6/site-packages/py/_vendored_packages/apipkg.py", line 195, in __getattribute__
    return getattr(getmod(), name)
  File "/Users/james/anaconda3/lib/python3.6/site-packages/py/_vendored_packages/apipkg.py", line 179, in getmod
    x = importobj(modpath, None)
  File "/Users/james/anaconda3/lib/python3.6/site-packages/py/_vendored_packages/apipkg.py", line 69, in importobj
    module = __import__(modpath, None, None, ['__doc__'])
  File "/Users/james/anaconda3/lib/python3.6/site-packages/pytest.py", line 13, in <module>
    from _pytest.fixtures import fixture, yield_fixture
  File "/Users/james/anaconda3/lib/python3.6/site-packages/_pytest/fixtures.py", line 842, in <module>
    class FixtureFunctionMarker(object):
  File "/Users/james/anaconda3/lib/python3.6/site-packages/_pytest/fixtures.py", line 844, in FixtureFunctionMarker
    params = attr.ib(convert=attr.converters.optional(tuple))
TypeError: attrib() got an unexpected keyword argument 'convert'

ModuleNotFoundError: No module named 'faker'

In [ ]:
cond_3 = merged['Class Title_x'] != merged["Class Title_y"]
cond_4 = ~merged['Class Title_x'].isna()
changed_title = merged[cond_3 & cond_4]
print(len(changed_title))
changed_title.sample(3)

In [ ]:
changed_salaries['Agency Name'].value_counts()

In [ ]:
first['Agency Name'].value_counts()

In [2]:
sample_path = archive_path / 'fl_salaries_2021-01-18.csv'
sample_df = pd.read_csv(sample_path).sort_values('First Name')

NameError: name 'archive_path' is not defined

In [5]:
sample_df.head(3)

,Agency Name,Budget Entity,Position Number,Last Name,First Name,Middle Name,Employee Type,Full/Part Time,Class Code,Class Title,State Hire Date,Salary,OPS Hourly Rate
6944,Agriculture and Consumer Svcs,PLANT/PEST/DISEASE CONTROL,1859,WILSON,A,J,Salaried,Full Time,7521.0,AGRICULTURAL TECHNICIAN III,2019-08-16,"$ 2,4686.48",NaN
107478,State Courts System,PGM: CT OPER/CIRCUIT CTS,90705,SOUD JR,A,C,OPS,Full Time,NaN,NaN,NaN,NaN,$ 375.00
80861,FL Dept of Law Enforcement,INVESTIGATIVE SERVICES,255,PELLHAM,A,MARK,Salaried,Full Time,8581.0,SPECIAL AGENT,1977-04-18,"$ 12,1380.74",NaN

In [5]:
import sys
!{sys.executable} -m pip install faker

Collecting faker
  Using cached Faker-6.1.1-py3-none-any.whl (1.1 MB)
Requirement already satisfied: python-dateutil>=2.4 in /Users/james/anaconda3/lib/python3.6/site-packages (from faker) (2.7.3)
Requirement already satisfied: six>=1.5 in /Users/james/anaconda3/lib/python3.6/site-packages (from python-dateutil>=2.4->faker) (1.11.0)
Collecting text-unidecode==1.3
  Using cached text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Installing collected packages: text-unidecode, faker
Successfully installed faker-6.1.1 text-unidecode-1.3
WARNING: You are using pip version 20.3.1; however, version 21.0.1 is available.
You should consider upgrading via the '/Users/james/anaconda3/bin/python -m pip install --upgrade pip' command.

In [6]:
from faker import Faker

In [6]:
def anonymize(df):
    'Anonymizes the given original data to anonymized form'
    # Load the faker and its providers
    faker  = Faker()
    Faker.seed(4321)
    
    dict_first_names = {name: faker.first_name() for name in df['First Name'].unique()}
    dict_last_names = {name: faker.last_name() for name in df['Last Name'].unique()}
    df['First Name'] = df['First Name'].map(dict_first_names).str.upper()
    df['Last Name'] = df['Last Name'].map(dict_last_names).str.upper()
    return df

anon_df = anonymize(sample_df).head(20)

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/Users/james/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2963, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-6-c381ca846684>", line 13, in <module>
    anon_df = anonymize(sample_df).head(20)
  File "<ipython-input-6-c381ca846684>", line 4, in anonymize
    faker  = Faker()
NameError: name 'Faker' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/james/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1863, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'NameError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/james/anaconda3/lib/python3.6/site-packages/IPython/core/ultratb.py", line 1095, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/james/anaconda3/lib/python3.6/site-packages/IPython/core/ultratb.py", line 311, in wrapped
    return f(*args, **kwargs)
  File "/Users/james/anaconda3/lib/python3.6/site-packages/IPython/core/ultratb.py", line 345, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Users/james/anaconda3/lib/python3.6/inspect.py", line 1490, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Users/james/anaconda3/lib/python3.6/inspect.py", line 1448, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Users/james/anaconda3/lib/python3.6/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/Users/james/anaconda3/lib/python3.6/inspect.py", line 733, in getmodule
    if ismodule(module) and hasattr(module, '__file__'):
  File "/Users/james/anaconda3/lib/python3.6/site-packages/py/_vendored_packages/apipkg.py", line 195, in __getattribute__
    return getattr(getmod(), name)
  File "/Users/james/anaconda3/lib/python3.6/site-packages/py/_vendored_packages/apipkg.py", line 179, in getmod
    x = importobj(modpath, None)
  File "/Users/james/anaconda3/lib/python3.6/site-packages/py/_vendored_packages/apipkg.py", line 69, in importobj
    module = __import__(modpath, None, None, ['__doc__'])
  File "/Users/james/anaconda3/lib/python3.6/site-packages/pytest.py", line 13, in <module>
    from _pytest.fixtures import fixture, yield_fixture
  File "/Users/james/anaconda3/lib/python3.6/site-packages/_pytest/fixtures.py", line 842, in <module>
    class FixtureFunctionMarker(object):
  File "/Users/james/anaconda3/lib/python3.6/site-packages/_pytest/fixtures.py", line 844, in FixtureFunctionMarker
    params = attr.ib(convert=attr.converters.optional(tuple))
TypeError: attrib() got an unexpected keyword argument 'convert'

NameError: name 'Faker' is not defined

In [18]:
import numpy as np


def clean_report(df_raw, na_cols=None, return_cols=None):
    """ Cleans a dataframe by standardizing column names, stripping whitespaces
    around string values, dropping rows with missing data (for certain cols)
    Args:
        df_raw (dataframe): Input dataframe
        na_cols (list): List of cols to check for missing values
        return_cols (list): List of cols to return, default returns all cols
    Returns:
        df (dataframe): Clean dataframe
    """
    print("cleaning the report")

    # make a copy of the columns to return
    if return_cols:
        df = df_raw[return_cols].copy()
    else:
        df = df_raw.copy()

    # standardize col names
    df.columns = [col.lower().replace(" ", "_") for col in df.columns]
    df.columns = [col.replace("(", "") for col in df.columns]
    df.columns = [col.replace(")", "") for col in df.columns]

    # remove whitespaces around string columns
    df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

    return df


def format_salaries(val):
    """
    """
    if val != val:
        return np.nan
    else:
        assert isinstance(val, str)
        if val[0] == "$":
            val = val[1:].strip()
        val = val.replace(",", "")
        val = val.replace(".", "")
    return val


def numeric_string(val, fill):
    """
    """
    if val != val:
        print("nan detected")
        return np.nan
    else:
        return str(int(val)).zfill(fill)


def format_table(df_raw):
    """Formats the input reports for merging and calculation
    Args:
        df_raw (dataframe): Input dataframe to be formatted
    Returns:
        df (dataframe): The formatted dataframe
    """
    #     input = FORMATS["input"]
    #     output = FORMATS["output"]
    #     return_cols = input.keys()  # which columns to preserve

    #     # check that the core report matches expected input format
    #     passed, errors = check_format(df_raw, input)
    #     if not passed:
    #         error = f"Table report doesn't match expected input format: {errors}"
    #         return False, error, None

    # # clean report and standardize merge columns
    df = clean_report(df_raw)
    df = df.rename(
        columns={"employee_type": "is_salaried", "full/part_time": "is_full_time"}
    )
    df = df.applymap(lambda x: x.upper() if isinstance(x, str) else x)

    df["position_number"] = df["position_number"].apply(lambda x: numeric_string(x, 7))
    df["class_code"] = df["class_code"].apply(lambda x: numeric_string(x, 5))

    salary_map = {"is_salaried": {"SALARIED": True, "OPS": False}}
    full_time_map = {"is_full_time": {"FULL TIME": True, "PART TIME": False}}
    df = df.replace(salary_map)
    df = df.replace(full_time_map)
    df[['is_salaried', 'is_full_time']] = df[['is_salaried', 'is_full_time']].astype('bool')

    # format our numeric strings to represent cents as integers
    df["salary"] = df["salary"].apply(format_salaries)
    df["ops_hourly_rate"] = df["ops_hourly_rate"].apply(format_salaries)
    # cast to integers
    df["salary"] = pd.to_numeric(df["salary"], errors="coerce").astype(pd.Int64Dtype())
    df["ops_hourly_rate"] = pd.to_numeric(df["salary"], errors="coerce").astype(pd.Int64Dtype())

    df["state_hire_date"] = df["state_hire_date"].astype("datetime64").dt.date


    # check that output dataframe
    # passed, errors = check_format(df, output)
    # if not passed:
    #     error = f"Table didn't get formatted correctly: {errors}"
    #     return False, error, None

    message = f"Successfully formatted Florida salaries table."
    return True, message, df

In [3]:
input_path = Path.cwd() / "tests" / "format_table" / "dummy_fl_salary_input.csv"
input_data = pd.read_csv(input_path, dtype='object')

In [4]:
_, message, formatted = format_table(input_data)

cleaning the report
nan detected
nan detected

In [5]:
message

'Successfully formatted Florida salaries table.'

In [25]:
save_path = Path.cwd() / "tests" / "format_table" / "dummy_fl_salary_output.pkl"
formatted.to_pickle(save_path)

In [26]:
test = pd.read_pickle(save_path)
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 13 columns):
agency_name        20 non-null object
budget_entity      20 non-null object
position_number    20 non-null object
last_name          20 non-null object
first_name         20 non-null object
middle_name        18 non-null object
is_salaried        20 non-null bool
is_full_time       20 non-null bool
class_code         18 non-null object
class_title        18 non-null object
state_hire_date    18 non-null object
salary             18 non-null Int64
ops_hourly_rate    18 non-null Int64
dtypes: Int64(2), bool(2), object(9)
memory usage: 1.9+ KB

In [24]:
numeric_string('56', 8)

'00000056'